{% extends "base.html" %}
{% block title %}Perfil - Tienda Tech{% endblock %}
{% block content %}
<section class="profile">
    <h2>👤 Mi Perfil</h2>
    <p>Descarga tus facturas fácilmente:</p>
    <ul class="invoice-list">
        {% for i in range(1,6) %}
            <li><a href="/download-invoice?file=factura0{{ i }}.pdf">Factura 0{{ i }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block footer %}
<p style="color:#b71c1c; font-weight:bold;">
    ⚠️ Advertencia: Esta es una aplicación vulnerable con fines educativos.<br>
    Intenta: <code>127.0.0.1:5000/download-invoice?file=../secreto.txt</code>
</p>
{% endblock %}
